<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web_health_app</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accountAuthManage">
                <span class="bi bi-shield-fill" aria-hidden="true"></span> Account Management
            </NavLink>
        </div>

     

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@

    

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AccountAuthManage/AddUser">
                <span class="bi " aria-hidden="true"></span> Add User
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AccountAuthManage/AddRole">
                <span class="bi" aria-hidden="true"></span> Add Role
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AccountAuthManage/AddGroup">
                <span class="bi " aria-hidden="true"></span> Add Group
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="studentmanage/mainviewstudent">
                <span class="bi bi-mortarboard-fill" aria-hidden="true"></span> Quản lý Sinh viên
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assessment-batch">
                <span class="bi bi-clipboard2-check-fill" aria-hidden="true"></span> Quản lý Kiểm tra Thể lực
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dalyhealth/mainview">
                <span class="bi bi-heart-pulse-fill" aria-hidden="true"></span> Theo dõi Sức khỏe Hàng ngày
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
    </nav>
</div>
